In [1]:
import numpy as np
import pandas as pd

In [4]:
Hs_df = pd.read_csv('/Users/susann/OBDS_course_Python/week_2/Homo_sapiens.GRCh38.107.gtf', sep="\t", header = None, comment="#")   # read .tsv file into memory

/var/folders/_y/kbhk52152hb2z95r0mn0x39w0000gr/T/ipykernel_61107/1090627024.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  Hs_df = pd.read_csv('/Users/susann/OBDS_course_Python/week_2/Homo_sapiens.GRCh38.107.gtf', sep="\t", header = None, comment="#")   # read .tsv file into memory

In [5]:
Hs_df

,0,1,2,3,4,5,6,7,8
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
1,1,ensembl_havana,transcript,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
2,1,ensembl_havana,exon,1471765,1472089,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
3,1,ensembl_havana,CDS,1471885,1472089,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
4,1,ensembl_havana,start_codon,1471885,1471887,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
...,...,...,...,...,...,...,...,...,...
3371239,KI270713.1,ensembl,five_prime_utr,32373,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; t..."
3371240,KI270713.1,ensembl,three_prime_utr,31698,31841,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; t..."
3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g..."
3371242,KI270713.1,ensembl,transcript,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; t..."
3371243,KI270713.1,ensembl,exon,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; t..."

In [6]:
Hs_df.columns=['seqname', 'source', 'feature', 'start', 'end', 'score', 'strand', 'frame', 'attribute']

In [7]:
Hs_df

,seqname,source,feature,start,end,score,strand,frame,attribute
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
1,1,ensembl_havana,transcript,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
2,1,ensembl_havana,exon,1471765,1472089,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
3,1,ensembl_havana,CDS,1471885,1472089,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
4,1,ensembl_havana,start_codon,1471885,1471887,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
...,...,...,...,...,...,...,...,...,...
3371239,KI270713.1,ensembl,five_prime_utr,32373,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; t..."
3371240,KI270713.1,ensembl,three_prime_utr,31698,31841,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; t..."
3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g..."
3371242,KI270713.1,ensembl,transcript,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; t..."
3371243,KI270713.1,ensembl,exon,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; t..."

In [8]:
Hs_df['source'].unique()

array(['ensembl_havana', 'havana', 'ensembl', 'havana_tagene',
       'ensembl_havana_tagene', 'mirbase', 'ensembl_tagene', 'insdc'],
      dtype=object)

In [9]:
len(Hs_df['source'].unique())

8

In [13]:
ens_df=Hs_df.query("source == 'ensembl_havana'")

In [14]:
ens_df

,seqname,source,feature,start,end,score,strand,frame,attribute
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
1,1,ensembl_havana,transcript,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
2,1,ensembl_havana,exon,1471765,1472089,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
3,1,ensembl_havana,CDS,1471885,1472089,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
4,1,ensembl_havana,start_codon,1471885,1471887,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
...,...,...,...,...,...,...,...,...,...
3370044,21,ensembl_havana,exon,46445284,46445769,.,+,.,"gene_id ""ENSG00000160299""; gene_version ""19""; ..."
3370045,21,ensembl_havana,CDS,46445284,46445324,.,+,2,"gene_id ""ENSG00000160299""; gene_version ""19""; ..."
3370046,21,ensembl_havana,stop_codon,46445325,46445327,.,+,0,"gene_id ""ENSG00000160299""; gene_version ""19""; ..."
3370047,21,ensembl_havana,five_prime_utr,46324156,46324228,.,+,.,"gene_id ""ENSG00000160299""; gene_version ""19""; ..."
3370048,21,ensembl_havana,three_prime_utr,46445328,46445769,.,+,.,"gene_id ""ENSG00000160299""; gene_version ""19""; ..."

In [15]:
ens_df.shape()

TypeError: 'tuple' object is not callable

In [16]:
ens_df.shape

(714608, 9)

In [17]:
Hs_df.groupby('feature')

In [18]:
Hs_df

,seqname,source,feature,start,end,score,strand,frame,attribute
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
1,1,ensembl_havana,transcript,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
2,1,ensembl_havana,exon,1471765,1472089,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
3,1,ensembl_havana,CDS,1471885,1472089,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
4,1,ensembl_havana,start_codon,1471885,1471887,.,+,0,"gene_id ""ENSG00000160072""; gene_version ""20""; ..."
...,...,...,...,...,...,...,...,...,...
3371239,KI270713.1,ensembl,five_prime_utr,32373,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; t..."
3371240,KI270713.1,ensembl,three_prime_utr,31698,31841,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; t..."
3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g..."
3371242,KI270713.1,ensembl,transcript,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; t..."
3371243,KI270713.1,ensembl,exon,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; t..."

In [20]:
Hs_df["feature"].value_counts()

exon               1624585
CDS                 871196
transcript          251121
three_prime_utr     203201
five_prime_utr      171504
start_codon          96934
stop_codon           90724
gene                 61860
Selenocysteine         119
Name: feature, dtype: int64

In [21]:
genes_df=Hs_df.query("feature == 'gene'")

In [23]:
genes_df.shape

(61860, 9)

In [24]:
genes_df = genes_df.assign(gene_length = genes_df['end'] - genes_df['start'])

In [25]:
genes_df

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_length
0,1,ensembl_havana,gene,1471765,1497848,.,+,.,"gene_id ""ENSG00000160072""; gene_version ""20""; ...",26083
107,1,havana,gene,2212523,2220738,.,+,.,"gene_id ""ENSG00000234396""; gene_version ""3""; g...",8215
111,1,havana,gene,629062,629433,.,+,.,"gene_id ""ENSG00000225972""; gene_version ""1""; g...",371
114,1,havana,gene,8786211,8786913,.,-,.,"gene_id ""ENSG00000224315""; gene_version ""2""; g...",702
117,1,havana,gene,634376,634922,.,+,.,"gene_id ""ENSG00000198744""; gene_version ""5""; g...",546
...,...,...,...,...,...,...,...,...,...,...
3371150,KI270711.1,ensembl,gene,4612,29626,.,-,.,"gene_id ""ENSG00000271254""; gene_version ""7""; g...",25014
3371224,KI270713.1,ensembl,gene,30437,30580,.,-,.,"gene_id ""ENSG00000275987""; gene_version ""1""; g...",143
3371227,KI270713.1,ensembl,gene,35407,35916,.,+,.,"gene_id ""ENSG00000268674""; gene_version ""2""; g...",509
3371233,KI270713.1,ensembl,gene,31698,32528,.,-,.,"gene_id ""ENSG00000277475""; gene_version ""1""; g...",830
3371241,KI270713.1,ensembl,gene,21861,22024,.,-,.,"gene_id ""ENSG00000275405""; gene_version ""1""; g...",163

In [41]:
genes_df['gene_length'].mean()

32626.786744261233

In [30]:
genes_df.describe()

              start           end   gene_length
count  6.186000e+04  6.186000e+04  6.186000e+04
mean   7.403611e+07  7.406874e+07  3.262679e+04
std    5.558790e+07  5.559096e+07  9.230443e+04
min    5.770000e+02  6.470000e+02  7.000000e+00
25%    3.021300e+07  3.021955e+07  5.670000e+02
50%    6.061628e+07  6.065367e+07  3.553500e+03
75%    1.092006e+08  1.092546e+08  2.519725e+04
max    2.489366e+08  2.489370e+08  2.473538e+06

In [42]:
genes_df['gene_length'].median()

3553.5

In [49]:
genes_sort_df = genes_df.sort_values(by=['gene_length'], ascending=False)

In [50]:
genes_sort_df.iloc[0:10,]

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_length
2679474,16,ensembl_havana,gene,5239802,7713340,.,+,.,"gene_id ""ENSG00000078328""; gene_version ""23""; ...",2473538
1297140,7,ensembl_havana,gene,146116002,148420998,.,+,.,"gene_id ""ENSG00000174469""; gene_version ""23""; ...",2304996
1733179,9,ensembl_havana,gene,8314246,10613002,.,-,.,"gene_id ""ENSG00000153707""; gene_version ""19""; ...",2298756
1514121,X,ensembl_havana,gene,31097677,33339609,.,-,.,"gene_id ""ENSG00000198947""; gene_version ""18""; ...",2241932
1850816,11,ensembl_havana,gene,83455012,85627922,.,-,.,"gene_id ""ENSG00000150672""; gene_version ""18""; ...",2172910
1601567,8,ensembl_havana,gene,2935353,4994972,.,-,.,"gene_id ""ENSG00000183117""; gene_version ""20""; ...",2059619
3030998,20,ensembl_havana,gene,13995369,16053197,.,+,.,"gene_id ""ENSG00000172264""; gene_version ""18""; ...",2057828
1104549,6,ensembl_havana,gene,63719980,65707226,.,-,.,"gene_id ""ENSG00000188107""; gene_version ""15""; ...",1987246
338522,2,havana,gene,140231423,142131016,.,-,.,"gene_id ""ENSG00000168702""; gene_version ""18""; ...",1899593
2041854,10,ensembl_havana,gene,65912457,67763637,.,-,.,"gene_id ""ENSG00000183230""; gene_version ""18""; ...",1851180

In [51]:
len(genes_sort_df)

61860

In [54]:
genes_sort_df.iloc[len(genes_sort_df)-20:len(genes_sort_df),]

,seqname,source,feature,start,end,score,strand,frame,attribute,gene_length
2418653,14,havana,gene,105893542,105893561,.,-,.,"gene_id ""ENSG00000211915""; gene_version ""1""; g...",19
2489695,15,havana,gene,20004797,20004815,.,-,.,"gene_id ""ENSG00000271317""; gene_version ""1""; g...",18
2467325,15,havana,gene,21011451,21011469,.,-,.,"gene_id ""ENSG00000270451""; gene_version ""1""; g...",18
2418624,14,havana,gene,105884870,105884888,.,-,.,"gene_id ""ENSG00000227196""; gene_version ""1""; g...",18
2418616,14,havana,gene,105881539,105881556,.,-,.,"gene_id ""ENSG00000225825""; gene_version ""1""; g...",17
2418705,14,havana,gene,105910410,105910427,.,-,.,"gene_id ""ENSG00000228131""; gene_version ""1""; g...",17
2418645,14,havana,gene,105891191,105891207,.,-,.,"gene_id ""ENSG00000237020""; gene_version ""1""; g...",16
2467826,15,havana,gene,21017800,21017816,.,-,.,"gene_id ""ENSG00000270185""; gene_version ""1""; g...",16
2462756,15,havana,gene,20011153,20011169,.,-,.,"gene_id ""ENSG00000271336""; gene_version ""1""; g...",16
2418701,14,havana,gene,105909907,105909923,.,-,.,"gene_id ""ENSG00000237197""; gene_version ""1""; g...",16
2418669,14,havana,gene,105900638,105900654,.,-,.,"gene_id ""ENSG00000227108""; gene_version ""1""; g...",16
2418725,14,havana,gene,105919502,105919518,.,-,.,"gene_id ""ENSG00000236170""; gene_version ""1""; g...",16
2418681,14,havana,gene,105903616,105903631,.,-,.,"gene_id ""ENSG00000232543""; gene_version ""2""; g...",15
2418657,14,havana,gene,105894508,105894523,.,-,.,"gene_id ""ENSG00000227800""; gene_version ""1""; g...",15
2418713,14,havana,gene,105913222,105913237,.,-,.,"gene_id ""ENSG00000233655""; gene_version ""1""; g...",15
2341080,14,havana,gene,22449113,22449125,.,+,.,"gene_id ""ENSG00000228985""; gene_version ""1""; g...",12
1312465,7,havana,gene,142786213,142786224,.,+,.,"gene_id ""ENSG00000282431""; gene_version ""1""; g...",11
2418605,14,havana,gene,105865551,105865561,.,-,.,"gene_id ""ENSG00000236597""; gene_version ""1""; g...",10
2341642,14,havana,gene,22439007,22439015,.,+,.,"gene_id ""ENSG00000237235""; gene_version ""2""; g...",8
2341061,14,havana,gene,22438547,22438554,.,+,.,"gene_id ""ENSG00000223997""; gene_version ""1""; g...",7